<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.jon.taschengeldapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Pocket Money Manager"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taschengeldapp">
        <activity android:name=".intro"  android:label="My Custom AppIntro"/>
        <activity
            android:name=".Signup"
            android:theme="@style/noaction" />
        <activity
            android:name=".Login"
            android:theme="@style/noaction" />
        <activity
            android:name=".addChild"
            android:theme="@style/noaction" />
        <activity
            android:name=".ChildAccountAcitivity"
            android:theme="@style/noaction" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/noaction" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.exportcsv.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>